#navbar {
  padding: 21px 0;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        color: #8b8e99;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
      a {
        text-decoration: none;
        color: #8b8e99;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}
