* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1132px;
  padding: 0 16px;
  margin: 0 auto;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}

body {
  font-family: Poppins;
}
